In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/resumes.csv')

In [16]:
df.head(2)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...

In [17]:
df['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [13]:
SKILL_HEADERS = [
    "skills", "technical skills", "skill set", "core skills"
]
QUAL_HEADERS = [
    "education", "qualifications", "academic background", "academic details"
]
EXP_HEADERS = [
    "experience", "work experience", "professional experience", "employment history", "company details"
]
PROJ_HEADERS = [
    "projects", "project", "project details", "academic projects", "professional projects"
]

In [18]:
import re
import pandas as pd

def extract_section(text, headers, all_headers):
    # Build pattern for all headers except the current section
    other_headers = [h for h in all_headers if h not in headers]
    header_pattern = '|'.join([rf"\b{re.escape(h)}\b" for h in headers])
    other_pattern = '|'.join([rf"\b{re.escape(h)}\b" for h in other_headers])
    # Regex to extract section
    pattern = rf"({header_pattern})(.*?)(?=({other_pattern})|$)"
    match = re.search(pattern, text, re.IGNORECASE | re.DOTALL)
    if match:
        return match.group(2).strip()
    return ""

def parse_resume(text):
    # All possible headers
    all_headers = SKILL_HEADERS + QUAL_HEADERS + EXP_HEADERS + PROJ_HEADERS
    # Extract each section
    skills = extract_section(text, SKILL_HEADERS, all_headers)
    qualifications = extract_section(text, QUAL_HEADERS, all_headers)
    experience = extract_section(text, EXP_HEADERS, all_headers)
    projects = extract_section(text, PROJ_HEADERS, all_headers)
    return pd.Series([skills, qualifications, experience, projects])

# Example usage:
df[['Skills', 'Qualifications', 'Experience', 'Projects']] = df['Resume'].apply(parse_resume)
df = df.drop(columns=['Resume'])
df.to_csv('processed_resumes.csv', index=False)